.page-header {
    background-color: rgb(53, 51, 51);
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 15px;
    margin: 15px;
}

.city-search-container {
    text-align: center;
}

.day{
    background-color: blue;
    color: white;
    
}